.site-header {
    grid-area: 1 / 1 / span 1 / span 1;
    display: flex;
    flex-direction: column;
    
    nav {
      border-top: 1px solid gray;
      border-bottom: 1px solid gray;
      
      ul {
        padding-left: 0;
        display: flex;
        justify-content: center;
  
        li {
          list-style: none;
          margin: 0 10px;          
        }
      }
    }
  }